<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css">
        <title>Guess That Stock</title>
    </head>
    <body>
        <div class="container">
            <h1>💰 Guess That Stock</h1>
            <h3>Will the stock's price be higher or lower in 2 weeks?</h3>
            <img src="data:image/png;base64,{{ guessing_chart }}" id="chart">
            <div class="row">
                <p id="answer">
                    <mark id="shortMessage"></mark>
                    <span id="longMessage"></span>
                </p>
            </div>
            <div class="row">
                <button class="large tertiary" onclick="showAnswer(true)" id="increaseButton">Increase</button>
                <button class="large secondary" onclick="showAnswer(false)" id="decreaseButton">Decrease</button>
            </div>
        </div>
        <script>
            const priceLastShown = toFixed({{ price_last_shown }}, 2);
            const priceTwoWeeksLater = toFixed({{ price_two_weeks_later }}, 2);

            const didIncrease = priceTwoWeeksLater > priceLastShown;

            function showAnswer(userAnswer) {
                showMessage(userAnswer);
                swapChart();
                disableButtons();
            }

            function showMessage(userAnswer) {
                const shortMessage = document.getElementById('shortMessage');
                shortMessage.innerText = (userAnswer === didIncrease) ? 'You got it right!' : 'You were incorrect!';
                shortMessage.className = (userAnswer === didIncrease) ? 'tertiary' : 'secondary';

                const longMessage = document.getElementById('longMessage');
                const longMessageText = `The {{ ticker }} stock price ${didIncrease ? '📈 increased' : '📉 decreased'} from
                $${priceLastShown} to $${priceTwoWeeksLater}. Refresh 🔄 to play another round.`;
                longMessage.innerText = longMessageText;
            }

            function toFixed(num, fixed) {
                const re = new RegExp('^-?\\d+(?:\.\\d{0,' + (fixed || -1) + '})?');
                return num.toString().match(re)[0];
            }

            function swapChart() {
                const chart = document.getElementById('chart');
                chart.setAttribute('src', 'data:image/png;base64,{{ full_chart }}');
            }

            function disableButtons() {
                const increaseButton = document.getElementById('increaseButton');
                const decreaseButton = document.getElementById('decreaseButton');
                increaseButton.setAttribute('disabled', '');
                decreaseButton.setAttribute('disabled', '');
            }
        </script>
    </body>
</html>